<html>
<head>
<title>Product Detail</title>
<!--/tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //tags -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
<link href="css/font-awesome.css" rel="stylesheet"> 
<link href="css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

<!-- //for bootstrap working -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
		    <li> <a href="#" data-toggle="modal" data-target="#myModal1"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Member Login </a></li>
			<li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Staff Login </a></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:lipita@lipitaloyalty.com">lipita@lipitaloyalty.com</a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<div class="col-md-3 header-middle">
			<!-- <form action="#" method="post">
					<input type="search" name="search" placeholder="Search here..." required="">
					<input type="submit" value=" ">
				<div class="clearfix"></div>
			</form> -->
		</div>
		<!-- header-bot -->
			<div class="col-md-6 logo_agile">
				<h1><a href="index.html"><span>L</span>ipita Shoppy <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
			</div>
        <!-- header-bot -->
		<div class="col-md-3 agileits-social top_content">
						<!-- <ul class="social-nav model-3d-0 footer-social w3_agile_social">
						                                   <li class="share">Share On : </li>
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>


 -->
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->

<!-- banner -->
<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item menu__item--current"><a class="menu__link" href="index.html">Home <span class="sr-only">(current)</span></a></li>
					
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men's wear <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href="mens.html"><img src="images/top2.jpg" alt=" "/></a>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="mens.html">Clothing</a></li>
											<li><a href="mens.html">Wallets</a></li>
											<li><a href="mens.html">Footwear</a></li>
											<li><a href="mens.html">Watches</a></li>
											<li><a href="mens.html">Accessories</a></li>
											<li><a href="mens.html">Bags</a></li>
											<li><a href="mens.html">Caps & Hats</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="mens.html">Jewellery</a></li>
											<li><a href="mens.html">Sunglasses</a></li>
											<li><a href="mens.html">Perfumes</a></li>
											<li><a href="mens.html">Beauty</a></li>
											<li><a href="mens.html">Shirts</a></li>
											<li><a href="mens.html">Sunglasses</a></li>
											<li><a href="mens.html">Swimwear</a></li>
										</ul>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women's wear <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="womens.html">Clothing</a></li>
											<li><a href="womens.html">Wallets</a></li>
											<li><a href="womens.html">Footwear</a></li>
											<li><a href="womens.html">Watches</a></li>
											<li><a href="womens.html">Accessories</a></li>
											<li><a href="womens.html">Bags</a></li>
											<li><a href="womens.html">Caps & Hats</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="womens.html">Jewellery</a></li>
											<li><a href="womens.html">Sunglasses</a></li>
											<li><a href="womens.html">Perfumes</a></li>
											<li><a href="womens.html">Beauty</a></li>
											<li><a href="womens.html">Shirts</a></li>
											<li><a href="womens.html">Sunglasses</a></li>
											<li><a href="womens.html">Swimwear</a></li>
										</ul>
									</div>
									<div class="col-sm-6 multi-gd-img multi-gd-text ">
										<a href="womens.html"><img src="images/top1.jpg" alt=" "/></a>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Furniture <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="furniture.html">Black Sofa</a></li>
											<li><a href="furniture.html">Gray Sofa</a></li>
											<li><a href="furniture.html">Sofa & Pillow</a></li>
											<li><a href="furniture.html">Chair</a></li>
											<li><a href="furniture.html">Bed</a></li>
											<li><a href="furniture.html">Tables</a></li>
											<li><a href="furniture.html">Double Bed</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="furniture.html">Single Bed</a></li>
											<li><a href="furniture.html">Glass Chair</a></li>
											<li><a href="furniture.html">Single Bed</a></li>
											<li><a href="furniture.html">Wood Chair</a></li>
											<li><a href="furniture.html">Dinning Table</a></li>
											<li><a href="furniture.html">Study Table</a></li>
											<li><a href="furniture.html">Glass Table</a></li>
										</ul>
									</div>
									<div class="col-sm-6 multi-gd-img multi-gd-text ">
										<a href="womens.html"><img src="images/f8.jpg" alt=" "/></a>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cosmetic <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="cosmetic.html">Clothing</a></li>
											<li><a href="cosmetic.html">Wallets</a></li>
											<li><a href="cosmetic.html">Footwear</a></li>
											<li><a href="cosmetic.html">Watches</a></li>
											<li><a href="cosmetic.html">Accessories</a></li>
											<li><a href="cosmetic.html">Bags</a></li>
											<li><a href="cosmetic.html">Caps & Hats</a></li>
										</ul>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="cosmetic.html">Jewellery</a></li>
											<li><a href="cosmetic.html">Sunglasses</a></li>
											<li><a href="cosmetic.html">Perfumes</a></li>
											<li><a href="cosmetic.html">Beauty</a></li>
											<li><a href="cosmetic.html">Shirts</a></li>
											<li><a href="cosmetic.html">Sunglasses</a></li>
											<li><a href="cosmetic.html">Swimwear</a></li>
										</ul>
									</div>
									<div class="col-sm-6 multi-gd-img multi-gd-text ">
										<a href="womens.html"><img src="images/c1.jpg" alt=" "/></a>
									</div>
									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					
				  </ul>
				</div>
			  </div>
			</nav>	
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1"> 
						<form action="#" method="post" class="last"> 
						<input type="hidden" name="cmd" value="_cart">
						<input type="hidden" name="display" value="1">
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					</form>  
  
						</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //banner-top -->

<!-- Modal1 -->
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
						<div class="modal-body modal-body-sub_agile">
						<div class="col-md-12 modal_body_left modal_body_left1">
							<h3 class="agileinfo_sign" style="color:#26ba9d;">Log In <span>Now</span></h3>
							<div class="wrap-box"></div>
								<form action="#" method="post">
									<div class="styled-input">
										<input type="email" name="Email" required=""> 
										<label>Email</label>
										<span></span>
									</div> 
									<div class="styled-input">
										<input type="password" name="password" required=""> 
										<label>Password</label>
										<span></span>
									</div> 
									<input type="submit" value="Login">
								</form>
								<div class="clearfix"></div>
								<p><a href="#lost"data-dismiss="modal" data-toggle="modal" data-target="#myModal14" style="color:#26ba9d;">Forgot your Password?</a></p>
								<p>Are you a Member| <a href="#lost" data-dismiss="modal" data-toggle="modal" data-target="#myModal3" style="color:#26ba9d;">Sign up Here</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal1 -->

<!-- Modal2 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body modal-body-sub_agile">
						<div class="col-md-12 modal_body_left modal_body_left1">
							<h3 class="agileinfo_sign" style="color:#26ba9d;">Login In <span>Now</span></h3>
							<div class="wrap-box"></div>
							<form action="#" method="post">
								<div class="styled-input">
									<input type="email" name="Email" required=""> 
									<label>Email</label>
									<span></span>
								</div> 
								<div class="styled-input">
									<input type="password" name="password" required=""> 
									<label>Password</label>
									<span></span>
								</div> 
								<input type="submit" value="Login">
							</form>
							<div class="clearfix"></div>
							<p><a href="#lost" data-dismiss="modal" data-toggle="modal" data-target="#myModal14" style="color:#26ba9d;"> Forgot your Password?</a></p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal2 -->

<!-- Modal3 -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-sm">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body modal-body-sub_agile">
						<div class="col-md-12 modal_body_left modal_body_left1">
							<h3 class="agileinfo_sign" style="color:#26ba9d;">Sign Up <span>Now</span></h3>
							<div class="wrap-box"></div>
							 <form action="#" method="post">
								<div class="styled-input agile-styled-input-top">
									<input type="text" name="Name" required="">
									<label>First Name</label>
									<span></span>
								</div>
								
								<div class="styled-input agile-styled-input-top">
									<input type="text" name="Name" required="">
									<label>Last Name</label>
									<span></span>
								</div>
								
								<div class="styled-input agile-styled-input-top">
									<input type="text" name="Name" required="">
									<label>Mobile no.</label>
									<span></span>
								</div>
								
								<div class="styled-input">
									<input type="email" name="Email" required=""> 
									<label>Email</label>
									<span></span>
								</div> 
								
								<input type="submit" value="Register">
							</form>
							<ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">								
								<li></li>
								<li><a href="#" class="facebook">
									<div class="front"><i class="fa fa-facebook" aria-hidden="true" style="font-size:28px;"></i></div>
									<div class="back"><i class="fa fa-facebook" aria-hidden="true" style="font-size:28px;"></i></div></a>
								</li>
								<li><a href="#" class="pinterest">
									<div class="front"><i class="fa fa-google-plus-official" aria-hidden="true" style="font-size:28px;"></i></div>
									<div class="back"><i class="fa fa-google-plus-official" aria-hidden="true" style="font-size:28px;"></i></div></a>
								</li>
								<li></li>
																
							</ul>
							<div class="clearfix"></div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //Modal content-->
			</div>
		</div>
<!-- //Modal3 -->

<!--/single_page-->
       <!-- /banner_bottom_agile_info -->
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>Single <span>Page </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="index.html">Home</a><i>|</i></li>
								<li>Single Page</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>

  <!-- banner-bootom-w3-agileits -->
<div class="banner-bootom-w3-agileits">
	<div class="container">
	     <div class="col-md-4 single-right-left ">
			<div class="grid images_3_of_2">
				<div class="flexslider">
					
					<ul class="slides">
						<li data-thumb="images/d2.jpg">
							<div class="thumb-image"> <img src="images/d2.jpg" data-imagezoom="true" class="img-responsive"> </div>
						</li>
						<li data-thumb="images/d1.jpg">
							<div class="thumb-image"> <img src="images/d1.jpg" data-imagezoom="true" class="img-responsive"> </div>
						</li>	
						<li data-thumb="images/d3.jpg">
							<div class="thumb-image"> <img src="images/d3.jpg" data-imagezoom="true" class="img-responsive"> </div>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>	
			</div>
		</div>
		<div class="col-md-8 single-right-left simpleCart_shelfItem">
					<h3>Big Wing Sneakers  (Navy)</h3>
					<p><span class="item_price">1200pts.</span> <del>1400pts.</del></p>
					<div class="rating1">
						<span class="starRating">
							<input id="rating5" type="radio" name="rating" value="5">
							<label for="rating5">5</label>
							<input id="rating4" type="radio" name="rating" value="4">
							<label for="rating4">4</label>
							<input id="rating3" type="radio" name="rating" value="3" checked="">
							<label for="rating3">3</label>
							<input id="rating2" type="radio" name="rating" value="2">
							<label for="rating2">2</label>
							<input id="rating1" type="radio" name="rating" value="1">
							<label for="rating1">1</label>
						</span>
					</div>
					<div class="description">
						<h5>Check delivery, payment options and charges at your location</h5>
						 <form action="#" method="post">
						<input type="text" value="Enter pincode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter pincode';}" required="">
						<input type="submit" value="Check">
						</form>
					</div>
					<div class="color-quality">
						<div class="color-quality-right">
							<h5>Quality :</h5>
							<select id="country1" onchange="change_country(this.value)" class="frm-field required sect">
								<option value="null">5 Qty</option>
								<option value="null">6 Qty</option> 
								<option value="null">7 Qty</option>					
								<option value="null">10 Qty</option>								
							</select>
						</div>
					</div>
					<div class="occasional">
						<h5>Types :</h5>
						<div class="colr ert">
							<label class="radio"><input type="radio" name="radio" checked=""><i></i>Casual Shoes</label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Sneakers </label>
						</div>
						<div class="colr">
							<label class="radio"><input type="radio" name="radio"><i></i>Formal Shoes</label>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="business" value=" ">
																	<input type="hidden" name="item_name" value="Wing Sneakers">
																	<input type="hidden" name="amount" value="650.00">
																	<input type="hidden" name="discount_amount" value="1.00">
																	<input type="hidden" name="currency_code" value="USD">
																	<input type="hidden" name="return" value=" ">
																	<input type="hidden" name="cancel_return" value=" ">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
															</form>
														</div>
																			
					</div>
					
					<div class="container-fluid">
						<div class="row">
							<div class="col-xs-3 col-xs-offset-3">
								<div class="input-group number-spinner">
									<span class="input-group-btn">
										<button class="btn btn-default" data-dir="dwn" style="background: #2fdab8;"><span class="glyphicon glyphicon-minus" style="color:#ffffff;"></span></button>
									</span>
									<input type="text" class="form-control text-center" value="1">
									<span class="input-group-btn">
										<button class="btn btn-default" data-dir="up" style="background: #2fdab8;"><span class="glyphicon glyphicon-plus" style="color:#ffffff;"></span></button>
									</span>
								</div>
							</div>
						</div>
					</div>

					
		      </div>
	 			<div class="clearfix"> </div>
				<!-- /new_arrivals --> 
	<div class="responsive_tabs_agileits"> 
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li>Product Description</li>
							<li>Product Specification</li>
							<li>Reviews</li>
						</ul>
					<div class="resp-tabs-container">
					<!--/tab_one-->
					   <div class="tab1">

							<div class="single_page_agile_its_w3ls">
							  <h6>Big Wing Sneakers Description (Navy)</h6>
							   <p>Look smart and directional with the designer suits edit at Farfetch. Find the perfect designer suit from a range of luxury brands. Shop designer suits for men from Armani Collezioni, Canali, Tom Ford and other luxury brands. Buy online at harrods.com and earn Rewards points. The Fall Winter 2017/2018 collection by Emporio Armani features the finest Italian Suits for Men. </p>
							   <p class="w3ls_para">Look smart and directional with the designer suits edit at Farfetch. Find the perfect designer suit from a range of luxury brands. Shop designer suits for men from Armani Collezioni, Canali, Tom Ford and other luxury brands. Buy online at harrods.com and earn Rewards points. The Fall Winter 2017/2018 collection by Emporio Armani features the finest Italian Suits for Men.</p>
							</div>
						</div>
						<!--//tab_one-->						
						 
						<!-- tab_two -->
							<div class="tab2">
								<div class="single_page_agile_its_w3ls">
								  <h6>Big Wing Sneakers Specification (Navy)</h6>
								   <p>Look smart and directional with the designer suits edit at Farfetch. Find the perfect designer suit from a range of luxury brands. Shop designer suits for men from Armani Collezioni, Canali, Tom Ford and other luxury brands. Buy online at harrods.com and earn Rewards points. The Fall Winter 2017/2018 collection by Emporio Armani features the finest Italian Suits for Men. </p>
								   <p class="w3ls_para">Look smart and directional with the designer suits edit at Farfetch. Find the perfect designer suit from a range of luxury brands. Shop designer suits for men from Armani Collezioni, Canali, Tom Ford and other luxury brands. Buy online at harrods.com and earn Rewards points. The Fall Winter 2017/2018 collection by Emporio Armani features the finest Italian Suits for Men. </p>
								</div>
							</div>
						<!-- tab_two -->
						
						<!-- tab_three -->
							<div class="tab2">							
								<div class="single_page_agile_its_w3ls">
									<div class="bootstrap-tab-text-grids">
										<div class="bootstrap-tab-text-grid">
											<div class="bootstrap-tab-text-grid-left">
												<img src="images/t1.jpg" alt=" " class="img-responsive">
											</div>
											<div class="bootstrap-tab-text-grid-right">
												<ul>
													<li><a href="#">Admin</a></li>
													<li><a href="#"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</a></li>
												</ul>
												<p>L>Look smart and directional with the designer suits edit at Farfetch. Find the perfect designer suit from a range of luxury brands. Shop designer suits for men from Armani Collezioni, Canali, Tom Ford and other luxury brands. Buy online at harrods.com and earn Rewards points. The Fall Winter 2017/2018 collection by Emporio Armani features the finest Italian Suits for Men. </p>
											</div>
											<div class="clearfix"> </div>
										</div>
										<div class="add-review">
											<h4>add a review</h4>
											<form action="#" method="post">
													<input type="text" name="Name" required="Name" placeholder="Name">
													<input type="email" name="Email" required="Email" placeholder="Email"> 
													<textarea name="Message" required="" placeholder="Write Here..."></textarea>
												<input type="submit" value="SEND">
											</form>
										</div>
									</div> 
								</div>
							</div>
						<!-- tab_three -->
					</div>
				</div>	
			</div>
	<!-- //new_arrivals --> 
	  	<!--/slider_owl-->
	
			<div class="w3_agile_latest_arrivals">
			<h3 class="wthree_text_info">Featured <span>Arrivals</span></h3>	
					  <div class="col-md-3 product-men single">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="images/za1.jpg" alt="" class="pro-image-front">
										<img src="images/za1.jpg" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											<span class="product-new-top">New</span>
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">Solid Blue Top</a></h4>
										<div class="info-product-price">
											<span class="item_price">1200pts.</span>
											<del>1400pts.</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="business" value=" ">
																	<input type="hidden" name="item_name" value="Sleeveless Solid Blue Top">
																	<input type="hidden" name="amount" value="30.99">
																	<input type="hidden" name="discount_amount" value="1.00">
																	<input type="hidden" name="currency_code" value="USD">
																	<input type="hidden" name="return" value=" ">
																	<input type="hidden" name="cancel_return" value=" ">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
															</form>
														</div>
																			
									</div>
								</div>
							</div>
							
                       <div class="col-md-3 product-men single">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="images/za2.jpg" alt="" class="pro-image-front">
										<img src="images/za2.jpg" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											<span class="product-new-top">New</span>
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">Blue Men's Shirt</a></h4>
										<div class="info-product-price">
											<span class="item_price">1200pts.</span>
											<del>1400pts.</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="business" value=" ">
																	<input type="hidden" name="item_name" value="Black Basic Shorts">
																	<input type="hidden" name="amount" value="30.99">
																	<input type="hidden" name="discount_amount" value="1.00">
																	<input type="hidden" name="currency_code" value="USD">
																	<input type="hidden" name="return" value=" ">
																	<input type="hidden" name="cancel_return" value=" ">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
															</form>
														</div>
																			
									</div>
								</div>
							</div>
							
						 <div class="col-md-3 product-men single">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="images/za3.jpg" alt="" class="pro-image-front">
										<img src="images/za3.jpg" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											<span class="product-new-top">New</span>
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">Signature Bodyspray  </a></h4>
										<div class="info-product-price">
											<span class="item_price">1200pts.</span>
											<del>1400pts.</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="business" value=" ">
																	<input type="hidden" name="item_name" value="Aero Canvas Loafers">
																	<input type="hidden" name="amount" value="30.99">
																	<input type="hidden" name="discount_amount" value="1.00">
																	<input type="hidden" name="currency_code" value="USD">
																	<input type="hidden" name="return" value=" ">
																	<input type="hidden" name="cancel_return" value=" ">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
															</form>
														</div>
																			
									</div>
								</div>
						</div>
						
					   <div class="col-md-3 product-men single">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img src="images/za4.jpg" alt="" class="pro-image-front">
										<img src="images/za4.jpg" alt="" class="pro-image-back">
											<div class="men-cart-pro">
												<div class="inner-men-cart-pro">
													<a href="single.html" class="link-product-add-cart">Quick View</a>
												</div>
											</div>
											<span class="product-new-top">New</span>
											
									</div>
									<div class="item-info-product ">
										<h4><a href="single.html">Dinning Table</a></h4>
										<div class="info-product-price">
											<span class="item_price">1200pts.</span>
											<del>1400pts.</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
															<form action="#" method="post">
																<fieldset>
																	<input type="hidden" name="cmd" value="_cart">
																	<input type="hidden" name="add" value="1">
																	<input type="hidden" name="business" value=" ">
																	<input type="hidden" name="item_name" value="Ankle Length Socks">
																	<input type="hidden" name="amount" value="30.99">
																	<input type="hidden" name="discount_amount" value="1.00">
																	<input type="hidden" name="currency_code" value="USD">
																	<input type="hidden" name="return" value=" ">
																	<input type="hidden" name="cancel_return" value=" ">
																	<input type="submit" name="submit" value="Add to cart" class="button">
																</fieldset>
															</form>
														</div>
																			
									</div>
								</div>
							</div>
							<div class="clearfix"> </div>
					<!--//slider_owl-->
		         </div>
	        </div>
 </div>
<!--//single_page-->

<!-- footer -->
<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-3 footer-left">
			<h2><a href="index.html"><span>L</span>ipita on Apps </a></h2>
			<p>Our customers are at the center of our digital transformation, the Mobile App has been upgraded with a lot of new features.</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
				<li>
				</li>
				<li><a href="#" class="twitter"> 
																  <div class="front"><i class="fa fa-android" aria-hidden="true" style="font-size: 28px;"></i></div>
																  <div class="back"><i class="fa fa-android" aria-hidden="true" style="font-size: 28px;"></i></div></a></li>
				<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-apple" aria-hidden="true" style="font-size: 28px;"></i></div>
																  <div class="back"><i class="fa fa-apple" aria-hidden="true" style="font-size: 28px;"></i></div></a></li>
				<li>
				</li>
			</ul>
		</div>
		
		<div class="col-md-9 footer-right">
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4 align="center">Help <span>Center</span> </h4>
					<ul style="text-align:left; margin-top:2%;">
						<li style="margin-top:6%;">
							<a href="#"><span data-toggle="modal" data-target="#myModal11">
								<p align="center"><i class="fa fa-users" aria-hidden="true"></i></p>
								<p align="center">Callcenter</p>
							</span></a>
						</li>
						<li style="margin-top:6%;">
							<a href="#"><span data-toggle="modal" data-target="#myModal12">
								<p align="center"><i class="fa fa-comments-o" aria-hidden="true"></i></p>
								<p align="center">Live Chat</p>
							</span></a>
						</li>
						<li style="margin-top:6%;">
							<a href="#"><span data-toggle="modal" data-target="#myModal13">
								<p align="center"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></p>
								<p align="center">Raise a Ticket</p>
							</span></a>
						</li>
					</ul>
				</div>
				
				<div class="col-md-4 sign-gd">
					<h4 align="center">Our <span>Address</span> </h4>
					<ul>
						<li><i class="fa fa-map-marker" aria-hidden="true"></i> 407, 4th Floor Sterling Centre Opp. Aurora Towers M.G Road, Camp Pune : 411001</li>
						<li><i class="fa fa-phone" aria-hidden="true"></i> 123-456-7890</li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> Miracle Smart Card Pvt. Ltd.</a></li>
						<li><i class="fa fa-envelope" aria-hidden="true"></i> loyalty@lipitaloyalty.com</li>
					</ul>
				</div>
				
				<div class="col-md-3 sign-gd flickr-post">
					<h4 align="center">Redeem <span>Item</span></h4>
					<ul>
						<li><a href="single.html"><img src="images/b2.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/s1.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/m1.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/b3.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/d2.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/m7.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/w2.jpg" alt=" " class="img-responsive" /></a></li>
						<li><a href="single.html"><img src="images/s4.jpg" alt=" " class="img-responsive" /></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
			<div class="agile_newsletter_footer">
					<div class="col-sm-6 newsleft">
				<h3>SIGN UP FOR NEWSLETTER !</h3>
			</div>
			<div class="col-sm-6 newsright">
				<form action="#" method="post">
					<input type="email" placeholder="Enter your email..." name="email" required="">
					<input type="submit" value="Submit">
				</form>
			</div>

		<div class="clearfix"></div>
	</div>
		<p class="copy-right">&copy &reg; 2017 Lipita shoppy. All rights reserved | Design by <a href="#"> Miracle Smart Card Pvt. Ltd.</a></p>
	</div>
</div>
<!-- //footer -->


<!-- login -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body modal-spa">
							<div class="login-grids">
								<div class="login">
									<div class="login-bottom">
										<h3>Sign up for free</h3>
										<form>
											<div class="sign-up">
												<h4>Email :</h4>
												<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
											</div>
											<div class="sign-up">
												<h4>Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
												
											</div>
											<div class="sign-up">
												<h4>Re-type Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
												
											</div>
											<div class="sign-up">
												<input type="submit" value="REGISTER NOW" >
											</div>
											
										</form>
									</div>
									<div class="login-right">
										<h3>Sign in with your account</h3>
										<form>
											<div class="sign-in">
												<h4>Email :</h4>
												<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
											</div>
											<div class="sign-in">
												<h4>Password :</h4>
												<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
												<a href="#">Forgot password?</a>
											</div>
											<div class="single-bottom">
												<input type="checkbox"  id="brand" value="">
												<label for="brand"><span></span>Remember Me.</label>
											</div>
											<div class="sign-in">
												<input type="submit" value="SIGNIN" >
											</div>
										</form>
									</div>
									<div class="clearfix"></div>
								</div>
								<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
<!-- //login -->
<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<script src="js/modernizr.custom.js"></script>
	<!-- Custom-JavaScript-File-Links --> 
	<!-- cart-js -->
	<script src="js/minicart.min.js"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js --> 
	<!-- single -->
<script src="js/imagezoom.js"></script>
<!-- single -->
<!-- script for responsive tabs -->						
<script src="js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default', //Types: default, vertical, accordion           
	width: 'auto', //auto or any width like 600px
	fit: true,   // 100% fit in a container
	closed: 'accordion', // Start closed if in accordion view
	activate: function(event) { // Callback function if tab is switched
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>
<!-- FlexSlider -->
<script src="js/jquery.flexslider.js"></script>
						<script>
						// Can also be used with $(document).ready()
							$(window).load(function() {
								$('.flexslider').flexslider({
								animation: "slide",
								controlNav: "thumbnails"
								});
							});
						</script>
					<!-- //FlexSlider-->
<!-- //script for responsive tabs -->		
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>
<!-- //here ends scrolling icon -->

<!-- for bootstrap working -->
<script type="text/javascript" src="js/bootstrap.js"></script>

<script>
	$(document).on('click', '.number-spinner button', function () {    
		var btn = $(this),
			oldValue = btn.closest('.number-spinner').find('input').val().trim(),
			newVal = 0;
		
		if (btn.attr('data-dir') == 'up') {
			newVal = parseInt(oldValue) + 1;
		} else {
			if (oldValue > 1) {
				newVal = parseInt(oldValue) - 1;
			} else {
				newVal = 1;
			}
		}
		btn.closest('.number-spinner').find('input').val(newVal);
	});
</script>
<!-- Modal Starts-->

	<!-- Callcenter modal starts -->
		<div class="modal fade" id="myModal11" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header" id="mod1">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title" align="center" id="mod2" style="color:#2fdab8;">Call Center</h4>
					</div>
					<div class="wrap-box"></div>
					<div class="modal-body" id="mod1">
						<!-- Demo Code -->
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" align="center" style="margin-top: 1%;">
									<form class="login-form">
										<table class="table table-bordered table-hover" style="margin-bottom:50px;">
											<thead>
												<tr>
													<th class="text-center">Contact</th>
													<th class="text-center">Numbers</th>	
												</tr>
											</thead>
											<tbody">
												<tr>
													<td class="text-center"> Call center-1 </td>
													<td class="text-center"> 96888522222 </td>
												</tr>
												<tr>
													<td class="text-center"> Call center-2 </td>
													<td class="text-center"> 96888522222 </td>	
												</tr>
												<tr>
													<td class="text-center"> Call center-3 </td>
													<td class="text-center"> 96888522222 </td>
												</tr>
											</tbody>
										</table>
									</form>
								</div>
							</div>
						<!-- Demo Code ended -->
					</div>
				</div>
			</div>
		</div>
	<!-- Callcenter modal ended -->
	
	<!-- LiveChat modal starts -->
		<div class="modal fade" id="myModal12" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header" id="mod1">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title" align="center" id="mod2" style="color:#2fdab8;">Live Chat</h4>
					</div>
					<div class="wrap-box"></div>
					<div class="modal-body" id="mod1">
						<!-- Demo Code -->
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" align="center" style="margin-top: 4%;">
									<form class="login-form">
									
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text" id="txt1" class="form-control z1" placeholder="Your Name">
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text" id="txt1" class="form-control z1" placeholder="Email ID">
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<input type="submit" class="btn btn-primary z1" id="btn1" name="Login" value="Login" style="background:#2fdab8;">
											</div>
										</div>
										
									</form>
								</div>
							</div>
						<!-- Demo Code ended -->
					</div>
				</div>
			</div>
		</div>
	<!-- LiveChat modal ended -->
	
	<!-- Raise Ticket modal starts -->
		<div class="modal fade" id="myModal13" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header" id="mod1">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title" align="center" id="mod2" style="color:#2fdab8;">Raise Ticket</h4>
					</div>
					<div class="wrap-box"></div>
					<div class="modal-body" id="mod1">
						<!-- Demo Code -->
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" align="center" style="margin-top: 4%;">
									<form class="login-form">
										<div class="col-sm-12">
											<div class="form-group">
												<input type="email" id="txt1" class="form-control z1" autofocus="true" required="true" placeholder="Email" />
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<input type="password" id="txt1" class="form-control z1" required="true" placeholder="Password" />
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<input type="submit" class="btn btn-primary z1" id="btn1"name="Login" value="Login" class="login-submit"  style="background:#2fdab8;"/>
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<a data-dismiss="modal" data-target="#myModal14" data-toggle="modal" href="#lost" style="color:#337ab7;">Forgot your Password?</a>
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<span style="color:#000;">Are you a Member? <a data-dismiss="modal" data-target="#myModal15" data-toggle="modal" href="#lost" style="color:#337ab7;">Sign Up Here</a></span>
											</div>
										</div>
										
									</form>
								</div>
							</div>
						<!-- Demo Code ended -->
					</div>
				</div>
			</div>
		</div>
	<!-- Raise Ticket modal ended -->
	
	<!-- Raise Ticket Forgot Password starts -->
		<div class="modal fade" id="myModal14" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header" id="mod1">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title" align="center" id="mod2" style="color:#2fdab8;">Forgot Password</h4>
					</div>
					<div class="wrap-box"></div>
					<div class="modal-body" id="mod1">
						<!-- Demo Code -->
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" align="center" style="margin-top: 1%;">
									<form class="login-form">
										<div class="col-sm-12">
											<div class="form-group">
												<input type="email" id="txt1" class="form-control z1" autofocus="true" required="true" placeholder="Email" />
											</div>
										</div>
											&nbsp;<br />
											
										<div class="col-sm-12">
											<div class="form-group">
												<input type="submit" class="btn btn-primary z1" id="btn1" name="send" value="send" class="login-submit" style="background:#2fdab8;"/>
											</div>
										</div>
										<!-- <p>
											<input type="submit" class="btn btn-primary" id="btn1" name="send" value="send" class="login-submit" />
										</p> -->
											&nbsp;<br />
									</form>
								</div>
							</div>
						<!-- Demo Code ended -->
					</div>
				</div>
			</div>
		</div>
	<!-- Raise Ticket Forgot Password ended -->
	
	<!-- Raise Ticket Sign Up starts -->
		<div class="modal fade" id="myModal15" role="dialog">
			<div class="modal-dialog modal-md">
				<div class="modal-content">
					<div class="modal-header" id="mod1">
						<button type="button" class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title" align="center" id="mod2" style="color:#2fdab8;">New Member Sign Up</h4>
					</div>
					<div class="wrap-box"></div>
					<div class="modal-body" id="mod1">
						<!-- Demo Code -->
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" style="margin: 1% 0 1% 0;">
									<div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
										<img src="images/z5.JPG" class="img-responsive">
									</div>
									<div class="col-sm-6 col-lg-6 col-md-6 col-xs-6">
										<img src="images/z6.JPG" class="img-responsive">
									</div>
								</div>
								
								<div class="col-sm-12 col-md-12 col-lg-12 col-xs-12" align="center">
									<form class="login-form">
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text" id="txt1" class="form-control z1" autofocus="true" required="true" placeholder="First Name" />
											</div>
										</div>
											
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text" id="txt1" class="form-control z1" autofocus="true" required="true" placeholder="Last Name" />
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<input type="text" class="form-control z1" name="phno" id="phno" placeholder="Mobile" onkeyup="this.value=this.value.replace(/\D/g,'')" required="">
												<span style="font-size: 10px; font-style: italic; color: red;">(* Enter Phone No without Dial Code)</span>
											</div>
										</div>
										
										<div class="col-sm-12">
											<div class="form-group">
												<input type="email" id="txt1" class="form-control z1" autofocus="true" required="true" placeholder="Email" />
											</div>
										</div>
										
										<p>
											<input type="submit" class="btn btn-primary z1" id="btn1" name="Register" value="Register" class="login-submit" style="background:#2fdab8;"/>
										</p>
											&nbsp;<br />
									</form>
								</div>
							</div>
						<!-- Demo Code ended -->
					</div>
				</div>
			</div>
		</div>
	<!-- Raise Ticket Sign Up ended -->
	<div class="wrap-box"></div>
	
	
<!-- Help center modal ended -->

</body>
</html>

<style>
	@media (max-width:320px){
		.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
			margin-left: 6px;
		}
		
		.input-group .form-control {
			position: relative;
			z-index: 2;
			float: left;
			width: 130%;
			margin-bottom: 0;
		}
		
		.container-fluid {
			padding-right: 15px;
			padding-left: 15px;
			margin-left: -26px;
			margin-right: auto;
		}
	}
	
	@media (max-width:1400px){
		.col-xs-offset-3 {
			margin-left: -1%;
		}
	}
</style>