/* @import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,600'); */

body {
  /* font-family: 'Questrial', sans-serif; */
  color: #333;
  font-size: 14px;
  /* font-weight: 300; */
  background: #fff;
  overflow-x: hidden;
}
p {
  font-size: 14px;
  line-height: 26px;
}
a:hover,
a:focus {
  color: #41c5a2;
}
a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
  /* font-family: 'Lato', sans-serif; */
}
.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-common {
  border: 2px solid #41c5a2;
  background-color: #41c5a2;
  position: relative;
  z-index: 1;
  border-radius: 4px;
}
.btn-common:hover {
  color: #41c5a2;
  background-color: transparent;
  border: 2px solid #41c5a2;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.btn-border {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
}
.btn-border:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #41c5a2;
}
.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}
.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}
.clear {
  clear: both;
}
h1,
h2,
h3,
h4,
h5 {
  /* font-family: 'Raleway', sans-serif; */
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}
ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  text-align: left;
}
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #41c5a2;
}
.section {
  /* padding: 80px 0; */
  padding: 0px 0 80px 0;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  margin-top: -12px;
}
.section-header .section-title {
  font-size: 12px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: #ffffff;
  position: relative;
  font-weight: 600;
}
.section-header .section-title span {
  color: #41c5a2;
}
.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #346afe;
  margin-top: 15px;
}
.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #41c5a2;
  left: 27px;
}
/* ==========================================================================
   Navbar Style
   ========================================================================== */
.bg-faded {
  background-color: #fff;
}
.logo-menu a {
  font-size: 20px;
  color: #fff;
}
.menu-bg {
  background-color: #fff!important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  z-index: 999;
  padding: 3px;
}
.menu-bg .menu-button {
  top: 0;
}
.menu-bg .menu-button:hover {
  cursor: pointer;
  color: #41c5a2;
}
.menu-bg .logo-menu a {
  color: #41c5a2;
}
.menu-button:hover {
  cursor: pointer;
  opacity: #eee;
}
.close-button {
  cursor: pointer;
}
.navbar-light .navbar-nav .nav-item {
  margin-left: 15px;
}
.navbar-light .navbar-nav .nav-link {
  color: #0d3559;
  padding: 7px 0px;
  margin-left: 5px;
  position: relative;
  font-size: 15px;
  letter-spacing: 0.3px;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:hover:before {
  color: #41c5a2;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.active:before,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .open > .nav-link {
  color: #41c5a2;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.navbar-light .navbar-toggler {
  border-color: #333;
  border-radius: 0px;
}
.navbar-light .navbar-toggler {
  float: right;
  margin: 10px;
}
.navbar-light .navbar-toggler i {
  color: #333!important;
}
/* ==========================================================================
   Hero Area Style
   ========================================================================== */
#hero-area {
  background: url(../img/hero-area.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  position: relative;
}
#hero-area .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #41c5a2;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
#hero-area .contents {
  padding: 160px 0 80px;
}
#hero-area .contents h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  margin-bottom: 25px;
}
#hero-area .contents p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#hero-area .contents .btn {
  margin: 20px 10px;
  text-transform: uppercase;
}
#hero-area .banner_bottom_btn {
  margin-top: 40px;
}
#hero-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#hero-area .banner_bottom_btn i:hover {
  color: #41c5a2;
}
/* ==========================================================================
   Slider Area
   ========================================================================== */
#slider-area {
  margin-top: -1px;
}
#slider-area h1 {
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
#slider-area p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}
#slider-area .sticky-navigation {
  background: transparent;
}
#slider-area .btn {
  margin-right: 15px;
}
#slider-area .large_white {
  color: #fff;
}
/* ==========================================================================
   Video Background
   ========================================================================== */
#video-area {
  overflow: hidden;
  position: relative;
}
#video-area .contents {
  padding: 160px 0 80px;
}
#video-area .contents h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 25px;
  line-height: 70px;
}
#video-area .contents p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.5px;
}
#video-area .contents .btn {
  margin: 20px 10px;
  text-transform: uppercase;
}
#video-area .banner_bottom_btn {
  margin-top: 40px;
}
#video-area .banner_bottom_btn i {
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#video-area .banner_bottom_btn i:hover {
  color: #41c5a2;
}
.overlay-2 {
  background: rgba(0, 0, 0, 0.7) !important;
}
/* ==========================================================================
   About Section Style
   ========================================================================== */
#about {
  position: relative;
  background: #f2f2f2;
}
.item-boxes {
  text-align: center;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 15px;
  webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
/* .item-boxes .icon {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 1px solid #41c5a2;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
} */
/* .item-boxes .icon i {
  font-size: 30px;
  line-height: 60px;
  color: #41c5a2;
} */
.item-boxes h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
/* .item-boxes:hover {
  background: #fff;
  box-shadow: 0 8px 48px 0 rgba(0, 0, 0, 0.15);
} */
#services {
  position: relative;
      background: linear-gradient(to bottom right, #41c5a2, #c1c2e7);
	min-height:800px;
}
/* ==========================================================================
   Features Section Style
   ========================================================================== */
#features {
  background: #fff;
}
#features .icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 1;
}
#features .content-left {
  position: relative;
  top: 60px;
}
#features .content-left span {
  float: right;
  margin-left: 25px;
}
#features .content-right {
  position: relative;
  top: 60px;
}
#features .content-right span {
  float: left;
  margin-right: 25px;
}
#features .box-item {
  padding-bottom: 30px;
}
#features .box-item .icon {
  border: 1px solid #41c5a2;
  text-align: center;
  margin: 12px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#features .box-item .icon i {
  color: #41c5a2;
  font-size: 24px;
  line-height: 60px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
#features .box-item .text h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
#features .box-item .text p {
  font-size: 14px;
  line-height: 26px;
}
#features .box-item:hover .icon {
  background: #41c5a2;
}
#features .box-item:hover .icon i {
  color: #ffffff;
}
#features .show-box {
  padding: 80px 0px 0px;
}
#features .show-box img {
  width: 100%;
}
/* ==========================================================================
   Screenshots Section Start
   ========================================================================== */
#screenshots {
  background: #f2f2f2;
}
.shot-item {
  margin-right: 15px;
  padding: 8px;
  border-radius: 4px;
  background: #fff;
}
.shot-item img {
  width: 100%;
}
.shot-item .overlay {
  display: block;
  position: relative;
}
.shot-item .overlay:before,
.shot-item .overlay:after {
  position: absolute;
  content: "";
  height: 30%;
  width: 30%;
  background: #346afe;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.shot-item .overlay:before {
  top: 0;
  left: 0;
  z-index: 1;
}
.shot-item .overlay:after {
  bottom: 0;
  right: 0;
  z-index: 1;
}
.shot-item:hover .overlay:before {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}
.shot-item:hover .overlay:after {
  height: 50%;
  width: 100%;
  opacity: 0.8;
}
.overlay .item-icon {
  height: 48px;
  width: 48px;
  line-height: 48px;
  color: #fff;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  top: 50%;
  position: absolute;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.shot-item:hover .item-icon {
  visibility: visible;
  opacity: 1;
}
/* ==========================================================================
   Portfolio Section
   ========================================================================== */
#portfolios {
  background: #f2f2f2;
}
#portfolios .mix {
  padding: 10px;
}
#portfolios .portfolio-item .shot-item {
  margin: 0px;
}
#portfolio-list .mix {
  display: none;
}
.controls {
  text-align: center;
  padding: 0px 0px 20px;
}
.controls .mixitup-control-active {
  color: #41c5a2 !important;
  border-color: #41c5a2;
  background: transparent;
}
.controls .btn {
  text-transform: uppercase;
  margin: 2px;
}
.controls:hover {
  cursor: pointer;
}
.portfolio-img {
  overflow: hidden;
  display: block;
  position: relative;
}
.portfolio-img img {
  width: 100%;
}
.portfoli-content {
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 0;
  top: 0;
  -webkit-transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.portfoli-content:before {
  background-color: rgba(1, 3, 7, 0.8);
  top: 0px;
  left: 0px;
  bottom: 15px;
  right: 30px;
  content: '';
  position: absolute;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.sup-desc-wrap {
  display: table;
  width: 100%;
  height: 100%;
}
.sup-desc-wrap .sup-desc-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 0 35px;
}
.sup-desc-wrap .sup-meta-wrap .sup-title {
  display: block;
  outline: none;
  margin-bottom: 10px;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sup-desc-wrap .sup-meta-wrap .sup-title h4 {
  font-size: 22px;
  color: #fff;
  margin: 0 0 5px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 100;
}
.sup-desc-wrap .sup-meta-wrap .sup-description {
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.portfolio-item:hover .portfoli-content,
.portfolio-item:hover .portfoli-content:before {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.portfolio-item:hover .sup-title {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.portfolio-item:hover .sup-description {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
/* ==========================================================================
   Video promo Style
   ========================================================================== */
.video-promo {
  background: url(../img/bg_2.jpg) fixed;
  background-position: cover;
  position: relative;
}
.video-promo .video-promo-content {
  color: #fff;
}
.video-promo .video-promo-content h2 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
}
.video-promo .video-promo-content p {
  margin-bottom: 30px;
}
.video-promo .video-promo-content .video-popup {
  min-width: 120px;
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  display: inline-block;
  font-size: 38px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.video-promo .video-promo-content .video-popup:hover {
  background: #41c5a2;
  border-color: #41c5a2;
  color: #fff;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #41c5a2;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
/* ==========================================================================
    Pricing Table
    ========================================================================== */
.pricing-table {
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  margin-bottom: 30px;
  border: transparent;
  background: linear-gradient(to bottom right, #ffffff, #ffffff);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
}
.pricing-table:hover {
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.0);
}
.pricing-table .icon {
  font-size: 26px;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  width: 64px;
  height: 64px;
  text-align: center;
  line-height: 64px;
  margin: 30px auto 3% auto;
}
.pricing-table .pricing-details h2 {
  font-size: 150%;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 2px;
}
.pricing-table .pricing-details span {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 5px;
  /*margin-left: 2%;*/
}
.pricing-table .pricing-details ul {
  margin-bottom: 35px;
}
.pricing-table .pricing-details ul li {
  padding: 10px;
  font-size: 10px;
  border-bottom: 1px solid #eee;
  color: #ffffff;
}
.table-left {
  margin-top: 20px;
}
/* ==========================================================================
   Counter Section Style
   ========================================================================== */
.counters {
  background: url(../img/bg1.jpg) fixed;
  position: relative;
}
.counters .facts-item {
  text-align: center;
  color: #fff;
}
.counters .facts-item .icon {
  margin-bottom: 20px;
}
.counters .facts-item .icon i {
  font-size: 50px;
  color: #fff;
}
.counters .facts-item .fact-count h3 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 15px;
}
.counters .facts-item .fact-count h4 {
  font-size: 20px;
  color: #fff;
}
/* ==========================================================================
   Testimonial Section Style
   ========================================================================== */
#testimonial {
  background: #f2f2f2;
}
.testimonial-item {
  text-align: center;
}
.testimonial-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonial-item .testimonial-text h3 {
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}
.testimonial-item .testimonial-text span {
  font-size: 15px;
  color: #999;
}
.testimonial-item .testimonial-text p {
  font-size: 14px;
  font-weight: 400;
  padding: 20px 10px 20px 10px;
  letter-spacing: 1px;
  margin: 0;
  line-height: 1.5;
  color: #999;
}
.owl-theme .owl-controls .owl-page span {
  background: #41c5a2;
}
.owl-theme .owl-controls {
  margin-top: 20px;
}
/* ==========================================================================
   Download 
   ========================================================================== */
#download {
  background-image: linear-gradient(120deg, #89f7fe 0%, #41c5a2 100%);
  width: 100%;
}
#download .section-title {
  color: #fff;
}
.btn {
  margin: 10px;
}
.btn i {
  margin-right: 5px;
}
/* ==========================================================================
   Blog 
   ========================================================================== */
#blog .blog-item-wrapper {
  background: #fff;
  border-radius: 0px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: transform 0.2s linear, -webkit-box-shadow 0.2s linear;
  -moz-transition: transform 0.2s linear, -moz-box-shadow 0.2s linear;
  transition: transform 0.2s linear, box-shadow 0.2s linear;
}
#blog .blog-item-wrapper:hover {
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}
#blog .blog-item-wrapper:hover .blog-item-img:before {
  opacity: 1;
  height: 100%;
  width: 100%;
}
#blog .blog-item-img {
  position: relative;
}
#blog .blog-item-img img {
  width: 100%;
}
#blog .blog-item-img:before {
  width: 50%;
  height: 50%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(70, 118, 250, 0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
#blog .blog-item-text {
  border: 1px solid #f1f1f1;
  padding: 20px;
}
#blog .blog-item-text .meta-tags {
  margin-bottom: 10px;
}
#blog .blog-item-text .meta-tags span {
  color: #999;
  margin-right: 10px;
}
#blog .blog-item-text .meta-tags span i {
  margin-right: 5px;
}
#blog .blog-item-text .meta-tags span a {
  color: #999;
}
#blog .blog-item-text .meta-tags span a:hover {
  color: #41c5a2;
}
#blog .blog-item-text h3 {
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
#blog .blog-item-text h3 a {
  color: #333;
}
#blog .blog-item-text h3 a:hover {
  color: #41c5a2;
}
#blog .blog-item-text p {
  line-height: 25px;
  margin-bottom: 20px;
}
/* ==========================================================================
    Contact Us
    ========================================================================== */
.form-control {
  width: 100%;
  margin-bottom: 20px;
  padding: 18px;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /* font-family: 'Lato', sans-serif; */
}
.form-control:focus {
  box-shadow: none;
  outline: none;
}
.btn.disabled,
.btn:disabled {
  opacity: 1;
}
#contact {
  background: #f2f2f2;
}
#contact .contact-block {
  background: #fff;
  padding: 30px;
  overflow: hidden;
}
#contact #contactForm {
  margin-top: 30px;
}
.text-danger {
  font-size: 14px;
  margin-top: 10px;
}
.list-unstyled li {
  color: #d9534f;
}
/* ==========================================================================
    Subscribe Style
    ========================================================================== */
#subscribe form input {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: none;
  color: #999999;
  height: 50px;
  padding: 0 20px;
  width: 100%;
}
#subscribe form input:focus {
  border: 1px solid #41c5a2;
}
#subscribe .sub_btn {
  border: none;
  line-height: 44px;
  margin: 0;
  font-size: 15px;
  text-transform: uppercase;
  position: absolute;
  right: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 150px;
  color: #fff;
  top: 0;
  height: 50px;
  background: #41c5a2;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /* font-family: 'Lato', sans-serif; */
  cursor: pointer;
}

/*--------------------------------- Karan's CSS -----------------------------------*/

/* ==========================================================================
   Footer Style
   ========================================================================== */
.footer {
	   position: fixed;
	   left: 0;
	   bottom: 0;
	   width: 100%;
	   background-color: #ffffff;
	   color: white;
	   text-align: center;
	}
	
#foot1{
		padding:0 2%;
	}
	
#foot_txt{
		font-size: 11px;
	}
	
#flat{
		width:18px;
	}
	
.footer-xs {
		padding: 10px;
		color: #000;
		width: 33.33%;
		border-right: 1px solid #eee;
	}

/* ==========================================================================
   Dashboard Page
   ========================================================================== */
.pricing-table .pricing-details ul li {
		padding-left: 10px;
		font-size: 12px;
		border-bottom: 1px solid #d1d1d1;
		color: #7d7c7c;
		/* font-weight: 600;  */
	}
	

#right-arrow{
	float:right; 
	font-size: 22px;
}

/*-------------- Dashboard 4 circle Text---------*/	
.text-center{
		font-size: 11px;
		color: #7d7c7c;
	}
/* ==========================================================================
   Common CSS
   ========================================================================== */	
/*------------------- Icons ---------------*/
#icon1 {
		width: 10%;
	}
	



/*------------ Text infront of icons --------------*/


    .pricing-table .pricing-details ul li {
		padding-left: 10px;
		font-size: 100%;
		border-bottom: 1px solid #d1d1d1;
		color: #7d7c7c;
		/* font-weight: 600; */
	}

/*--------------- Not related ----------------*/

 
 #arrow{
		float:left; 
		margin-left: 0%;
	}
	
#button {
    border: 1px solid;
    padding: 1% 3%;
    border-radius: 15px;
    margin: 8% 8%;
    /*color: #1fa07f;*/
}

#pink_txt{
	color:#ff3399;
	font-size:80%;
}

#pink_txt1{
	color:#ff3399;
}

#gray_txt{
	color:#7d7c7c;
}
/*------------------------------Radio Button Css----------------------------------------*/
 .radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #7d7c7c;
  font-weight: normal;
}

.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 4px 0;
  width: 13px;
  height: 13px;
  border-radius: 11px;
  border: 1.8px solid #ef888e;
  background-color: transparent;
}

.radio-item input[type=radio]:checked + label:after {
   border-radius: 11px;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  left: 8.8px;
  content: " ";
  display: block;
  background: #ef888e;
} 
/*------------------------------Radio Button Css----------------------------------------*/
/*-------------------------------------Checkbox Css ------------------------------------*/

.bg {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.span_pseudo, .chiller_cb span:before, .chiller_cb span:after {
  content: "";
  display: inline-block;
  background: #fff;
  width: 0;
  height: 0.2rem;
  position: absolute;
  transform-origin: 0% 0%;
}

.chiller_cb {
  position: relative;
  height: 2rem;
  display: flex;
  align-items: center;
}
.chiller_cb input {
  display: none;
}
.chiller_cb input:checked ~ span {
  background: #ef888e;;
  border-color: #ef888e;
  width: 11px;
 height: 11px;
}
.chiller_cb input:checked ~ span:before {
  / width: 1rem; /
  width: 0.65rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.3s;
}
.chiller_cb input:checked ~ span:after {
  width: 0.3rem;
  height: 0.15rem;
  transition: width 0.1s;
  transition-delay: 0.2s;
}

.chiller_cb label {
  padding-left: 2rem;
  position: relative;
  z-index: 2;
  cursor: pointer;
  margin-bottom:0;
}
.chiller_cb span {
  display: inline-block;
  /* width: 1.2rem;
  height: 1.2rem; */
  width: 11px;
  height: 11px;
  border: 2px solid #ccc;
  position: absolute;
  left: 0;
  transition: all 0.2s;
  z-index: 1;
  box-sizing: content-box;
}
.chiller_cb span:before {
  transform: rotate(-55deg);
  /* top: 1rem;
  left: 0.37rem; */
  
  top: 0.60rem;
  left: 0.17rem;
}
.chiller_cb span:after {
  transform: rotate(35deg);
 /*  bottom: 0.35rem;
  left: 0.2rem; */
  
   bottom: 0.15rem;
   left: 0.1rem;
}
/*-------------------------------------Checkbox Css ------------------------------------*/
